body {
	font-family: arial;
	background-image: linear-gradient(to right, #fff, #ccc, #aaa, #888, #555, #333, #000);
}

h1 {
	margin-top: 0;
	margin-left: 0;
	background-image: linear-gradient(to left, #fff, #ccc, #aaa, #888, #555, #333, #000);
}